<header>
    <div class="card">
        <div class="photo">

        </div>
        <div class="name">
            <h1>Work in progres</h1>
        </div>
    </div>
</header>

<style lang="sass">
    .card
        margin: 10vh auto
        width: 50vw
        height: 25vh
        text-align: center
        .photo
            margin: 0 auto
            width: 150px
            height: 150px
            border-radius: 100%
            background-color: #DEE0E0ff
</style>
