<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="sass">
/* SCSS HEX */
$raisin-black: #261E2Bff
$platinum: #DEE0E0ff
$amethyst: #A069BFff
$mint: #62B395ff
$english-violet: #442C52ff

/* SCSS HSL */
$raisin-black: hsla(277, 18%, 14%, 1)
$platinum: hsla(180, 3%, 87%, 1)
$amethyst: hsla(278, 40%, 58%, 1)
$mint: hsla(158, 35%, 54%, 1)
$english-violet: hsla(278, 30%, 25%, 1)

/* SCSS RGB */
$raisin-black: rgba(38, 30, 43, 1)
$platinum: rgba(222, 224, 224, 1)
$amethyst: rgba(160, 105, 191, 1)
$mint: rgba(98, 179, 149, 1)
$english-violet: rgba(68, 44, 82, 1)

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #261E2Bff, #DEE0E0ff, #A069BFff, #62B395ff, #442C52ff)
$gradient-right: linear-gradient(90deg, #261E2Bff, #DEE0E0ff, #A069BFff, #62B395ff, #442C52ff)
$gradient-bottom: linear-gradient(180deg, #261E2Bff, #DEE0E0ff, #A069BFff, #62B395ff, #442C52ff)
$gradient-left: linear-gradient(270deg, #261E2Bff, #DEE0E0ff, #A069BFff, #62B395ff, #442C52ff)
$gradient-top-right: linear-gradient(45deg, #261E2Bff, #DEE0E0ff, #A069BFff, #62B395ff, #442C52ff)
$gradient-bottom-right: linear-gradient(135deg, #261E2Bff, #DEE0E0ff, #A069BFff, #62B395ff, #442C52ff)
$gradient-top-left: linear-gradient(225deg, #261E2Bff, #DEE0E0ff, #A069BFff, #62B395ff, #442C52ff)
$gradient-bottom-left: linear-gradient(315deg, #261E2Bff, #DEE0E0ff, #A069BFff, #62B395ff, #442C52ff)
$gradient-radial: radial-gradient(#261E2Bff, #DEE0E0ff, #A069BFff, #62B395ff, #442C52ff)

html,body 
	margin: 0
	width: 100%
	height: 100%
	font-family: 'Noto Sans', sans-serif
	background-color: $raisin-black
	color: $platinum
</style>
